.blur-app{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black-color);
    opacity: 0.6;
    z-index: 3;
    visibility: hidden;
    transition: 0.3s linear;
}

/* item--active là để hiển thị phần tử  */
.blur-app.item--active{
    opacity: 0.6;
    visibility: visible;
}